:root{
    --main-background:#F5F5F5;
    --header-background:#46494C;
    --main-font:#4C5C68;
    --main-border:#868689;
    --main-header:#DCDCDD;
    --work-background:#3E616E;
    --th:#6C6E71;
    --trEven:#B7B8B9;
    --trOdd:#DCDCDD;
}

html{
    height:100%;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: var(--main-background);
    text-align: center;

}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    font-weight:bold;
    font-size:24px;
    background-color: var(--header-background);
    color:var(--main-header);
    margin-bottom:50px;
}

section {
    width:100%;
}


a {
    color:var(--main-header);
    text-decoration: none;
}

button {
    background-color: var(--main-header);
    margin:5px;
    border-radius:5px;
    padding:5px;

}

button:hover {
    background-color:var(--header-background);
    color:var(--main-header)
}

.hidden{
    display:none;
}

.displayed{
    display:unset;
}

#welcome button {
    margin:25px;
}

#questions {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

#questions h2 {
    margin-bottom:25px;
}

#questions button {
    display: block;
    padding: 5px 10px 5px 10px;
    margin-left:auto;
    margin-right:auto;
}

form h2, form p {
    padding:5px;
}

table{
    border-collapse: collapse;
    font-size:24px;
}

th {
    background-color:var(--th);
    color:var(--main-header)
}

th, td {
    padding:5px;
}

tr{
    background-color:var(--trEven);
    border: 1px solid var(--main-border);
}

tr:nth-child(odd) {
    background-color: var(--trOdd);
    border: 1px solid var(--main-border);
    
}

tr:hover {
    background-color: var(--header-background);
    color: var(--main-header);
    transform: scale(1.2);
    transition:all .5s ease-in-out;
} 

th:hover {
    background-color: var(--main-background);
    color:var(--main-font);
}

.leaderboard-header {
    justify-content:center;
    
}

#feedback {
    width:50%;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}
