/* Setting CSS variables */
:root{
    --main-background:#F5F5F5;
    --header-background:#46494C;
    --main-font:#4C5C68;
    --main-border:#868689;
    --main-header:#DCDCDD;
    --work-background:#3E616E;
    --th:#6C6E71;
    --trEven:#B7B8B9;
    --trOdd:#DCDCDD;
}

/* Sets the root html page to 100% height */
html{
    height:100%;
}

/* Global styling reset */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Main body styling */
body{
    height: 100%;
    background-color: var(--main-background);
    text-align: center;

}

/* Header styling */
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    font-weight:bold;
    font-size:24px;
    background-color: var(--header-background);
    color:var(--main-header);
    margin-bottom:50px;
}

/* Section styling */
section {
    width:100%;
    color:var(--main-font)
}

/* Link styling */
a {
    color:var(--main-header);
    text-decoration: none;
}

/* Main button styling */
button {
    background-color: var(--main-header);
    margin:5px;
    border-radius:5px;
    padding:5px;

}

button:hover {
    background-color:var(--header-background);
    color:var(--main-header)
}

/* Styling for the form child elements */
form h2, form p {
    padding:5px;
}

/* Leaderboard table styling */
table{
    border-collapse: collapse;
    font-size:24px;
}

th {
    background-color:var(--th);
    color:var(--main-header)
}

th, td {
    padding:5px;
}

tr{
    background-color:var(--trEven);
    border: 1px solid var(--main-border);
}

tr:nth-child(odd) {
    background-color: var(--trOdd);
    border: 1px solid var(--main-border);
    
}

/* Hover effects over leaderboard list items (not the header row) */
.leaderboard-list:hover {
    background-color: var(--header-background);
    color: var(--main-header);
    transform: scale(1.2);
    transition:all .5s ease-in-out;
} 

/* Centers the leaderboard header element */
.leaderboard-header {
    justify-content:center; 
}

/* Hidden class handles hiding html elements on page */
.hidden{
    display:none;
}

/* Displayed class handles displaying html elements on page */
.displayed{
    display:unset;
}

/* Welcome button custom styling */
#welcome button {
    margin:25px;
}

/* Custom styling for the questions element and child elements */
#questions {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

#questions h2 {
    margin-bottom:25px;
}

#questions button {
    display: block;
    padding: 5px 10px 5px 10px;
    margin-left:auto;
    margin-right:auto;
}

/* Question feedback styling and positioning */
#feedback {
    width:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}
